
header{

  position: relative;

  height: 60vh;
  overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;


  .contenu{

    position: absolute;

    color: white;

    text-align: center;

  }

}