nav{

  display: flex;

  justify-content: space-between;

  .logo{

    width: 60px;
    height: 60px;

    background: url("../images/coffee-cup.svg") no-repeat center;

  }

  ul{

    display: flex;

    list-style: none;
    padding: 0;

    li a{

      padding: rem(12);

    }

    li.retour{

      display: none;

    }

  }

}